In [2]:
###Ejercicio en clase 
a="hola a todos"
print(a)

hola a todos

In [3]:
a="""Hola
Como estan"""
print(a)

Hola
Como estan

In [5]:
###Variables
numero=4
miString="Hola" #Este es un comentario
miBool=True

In [7]:
edad=25
print("Hola a todos, mi edad es:", edad)

Hola a todos, mi edad es: 25

In [10]:
nombre="Delmi"
print(f"Hola a todos mi nombre es: {nombre} y mi edad es {edad}")

Hola a todos mi nombre es: Delmi y mi edad es 25

In [13]:
salario=25000
dept="finanzas"
miQuery="""SELECT * FROM empleado
WHERE salario >= {} AND estado = {} """.format(salario,dept)
print(miQuery)

SELECT * FROM empleado
WHERE salario >= 25000 AND estado = finanzas

In [2]:
nombre= input("Ingrese su nombre:")
print(f"Hola, {nombre}, este es pynton")

Hola, Delmi, este es pynton

In [4]:
###Strings

a="Delmi Abrigo"
a[0:5]
len(a)

12

In [5]:
###Control de Flujo
43==34
43==43

True

In [6]:
numero= int(input("Ingrese un numero:"))
if(numero!=0):
    print("El numero es cero")
else: 
    print("El numero es cero")

El numero es cero

In [7]:
dia= int(input("Ingrese el numero de día:"))
if(dia>=1 and dia<=7):
    if(dia==1):
        print("El día es lunes")
    elif(dia==2):
        print("El día es martes")
    elif(dia==3):
        print("El día es miércoles")
    elif(dia==4):
        print("El día es jueves")
    elif(dia==5):
        print("El día es viernes")
    elif(dia==6):
        print("El día es sábado")
    elif(dia==7):
        print("El día es domingo")
    else:
        print ("El día es incorrecto")

El día es lunes

In [10]:
###Listas

lista=[10,20,30,40,50,60]
# 1 es dinamica
# 2 Almancena diferentes tipos de datos

In [13]:
lista[4]
lista[4:]
len(lista)

6

In [14]:
lista.append('Data')

In [15]:
lista.insert(3,'UMG')

In [16]:
lista

[10, 20, 30, 'UMG', 40, 50, 60, 'Data']

In [17]:
###Eliminar elementos de una lista
del lista [3] ###Eliminar por posición

In [18]:
###Eliminar por valor
lista.remove('Data')

In [19]:
Segundos= int(input("Ingrese los segundos:"))

Horas=Segundos % (60*60)
Minutos=Segundos// (60)
Segundos=Segundos % (60)

print('Horas : {} - Minutos : - Segundos : {}' .format(Horas,Minutos,Segundos))

Horas : 60 - Minutos : - Segundos : 1

In [21]:
from datetime import datetime
dia= int(input("Introduce el día actual:"))
mes= int(input("Introduce el mes actual:"))
año= int(input("Intoduce el año actual:"))

dia_aniversario= int (input("Introduce el día de tu nacimiento"))
mes_aniversario= int(input("Introduce el mes de tu nacimiento:"))
año_aniversario=int(input("Introduce el año de tu nacimiento:"))

resultado_dia= dia - dia_aniversario
resultado_mes= mes - mes_aniversario
resultado_año = año - año_aniversario

print("Tienes:", resultado_año, "años", resultado_mes, "meses", "y", resultado_dia, "dias")

Tienes: 30 años -10 meses y -12 dias